body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}


@media only screen and (max-width: 800px) {
  #root {
    padding: 0px;
  }
}
