.black {
    color: black
}

.chatWindowOuter {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.infoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
    color: black;
    background-color: #274eff;
}

.chatMessageSection {
    height: calc(90% - 62px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatMessageSectionChildren {
    display: flex;
    flex-direction: column;
}

.messageEnvelopeRight {
    border: 2px solid rgb(11, 11, 253);
    background-color: #2baaff;
    width: 80%;
    margin: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    align-self: end;
}

.messageEnvelopeLeft {
    border: 2px solid rgb(11, 11, 253);
    background-color: #2baaff;;
    width: 80%;
    margin: 10px;
    padding: 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    align-self: start;
}

.message {
    color: black;
    font-size: small;
}


@media only screen and (min-width: 600px) {
    .chatWindowOuter {
        background-color: white;
        height: 80vh;
        width: 60vw;
    }

    .messageEnvelopeOuter {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .messageEnvelopeRight {
        border: 2px solid rgb(11, 11, 253);
        width: auto;
        margin: 10px;
        padding: 0px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 10px;
        align-self: end;
    }

    .messageEnvelopeLeft {
        border: 2px solid rgb(11, 11, 253);
        width: auto;
        margin: 10px;
        padding: 0px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        align-self: start;
    }

    .messageInputEnvelope {
        height: 10%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: flex-end;
    }

    .messageTextArea {
        width: 90%;
        max-height: 36px;
        resize: none;
    }

    .messageSendButton {
        width: 10%;
        height: 36px;
        font-weight: 500;
    }
}