.black {
    color: black
}

.chatWindowOuter {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.infoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    padding: 0px 10px 10px 10px;
    color: black;
    background-color: #274eff;
}

.chatMessageSection {
    height: calc(100% - 70px - 36px);
    max-height: calc(100% - 70px - 36px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatMessageSectionChildren {
    display: flex;
    flex-direction: column;
}

.messageEnvelope {
    border: 2px solid rgb(11, 11, 253);
    background-color: #2baaff;
    width: 80%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
}

.message {
    color: black;
    font-size: small;
}


@media only screen and (min-width: 600px) {
    .chatWindowOuter {
        background-color: white;
        flex-direction: row;
        height: 80vh;
        width: 60vw;
    }

    .chatWindowInnerLarge {
        height: 80vh;
        width: 60vw;
    }

    .chatWindowInnerSmall {
        height: 80vh;
        width: 40vw;
    }

    .messageEnvelopeOuterRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .messageEnvelopeOuterLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .messageEnvelope {
        border: 2px solid rgb(11, 11, 253);
        width: auto;
        max-width: 60%;
        margin: 10px;
        padding: 0px 10px;
        border-radius: 10px;

    }

    .messageInputEnvelope {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: flex-end;
    }

    .messageTextArea {
        width: 90%;
        max-height: 36px;
        resize: none;
    }

    .messageSendButton {
        width: 10%;
        height: 36px;
        font-weight: 500;
    }
}