.chatWindowOuter {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chatWindowInnerLarge {
    height: 100vh;
    width: 100vw;
}

.chatWindowInnerSmall {
    height: 60vh;
    width: 100vw;
}


@media only screen and (min-width: 800px) {
    .chatWindowOuter {
        background-color: white;
        flex-direction: row;
        height: 80vh;
        width: 60vw;
    }

    .chatWindowInnerLarge {
        height: 80vh;
        width: 60vw;
    }

    .chatWindowInnerSmall {
        height: 80vh;
        width: 40vw;
    }
}