@media only screen and (min-width: 600px) {
    .infoBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0;
        padding: 0px 10px 10px 10px;
        color: black;
        background-color: #274eff;
    }
}