@media only screen and (min-width: 600px) {
    .messageInputEnvelope {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: flex-end;
    }

    .messageTextArea {
        width: 90%;
        max-height: 36px;
        resize: none;
    }

    .messageSendButton {
        width: 10%;
        height: 36px;
        font-weight: 500;
    }
}