.messageEnvelope {
    border: 2px solid rgb(11, 11, 253);
    background-color: #2baaff;
    width: 80%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
}

.messageEnvelopePrivate {
    border: 2px solid rgb(2, 151, 27);
    background-color: #2fd61f;
    width: 80%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
}

.messageEnvelopeOuterRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.messageEnvelopeOuterLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message {
    color: black;
    font-size: small;
    word-wrap: break-word;
    word-break: normal;
}

@media only screen and (min-width: 800px) {
    .messageEnvelope {
        border: 2px solid rgb(11, 11, 253);
        width: auto;
        max-width: 60%;
        margin: 10px;
        padding: 0px 10px;
        border-radius: 10px;
    }

    .messageEnvelopePrivate {
        border: 2px solid rgb(2, 151, 27);
        width: auto;
        max-width: 60%;
        margin: 10px;
        padding: 0px 10px;
        border-radius: 10px;
    }
}